.headerBootstrap {
	min-height: var(--navbar-height);
	z-index: 2000;
	// background: white;
	// -webkit-backdrop-filter: blur(100px);
	// backdrop-filter: blur(100px);
	&::before {
		content: " ";
		display: block;
		width: 100%;
		height: 100%;
		// background-color: rgba(255, 255, 255, 0.7);
		position: absolute;
		z-index: -1;
	}

	.logo {
		height: 35px;
	}
	// :global .navbar-toggler {
	// 	font-size: 0.75rem;
	// }
	:global .navbar-nav {
		:global .nav-link {
			color: black;
			// padding-top: 0;
			// padding-bottom: 0;
			position: relative;
			top: -2px;
			&:hover {
				background: initial;
				-webkit-background-clip: initial;
				-webkit-text-fill-color: initial;
				color: #00509a;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.headerBootstrap {
		:global .dropdown {
			div {
				background-color: initial;
				border: none;
				:global .dropdown-item {
					color: white;
					&:hover {
						background: initial;
						-webkit-background-clip: initial;
						-webkit-text-fill-color: initial;
					}
				}
			}
		}
	}
}
