.windowFrame {
	margin: 0;
	padding: 1rem 0 0 0;
}

.pageTitle {
	// height: 21.5vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

@media screen and (min-width: 768px) {
	.windowFrame {
		margin: var(--header-thickness);
		padding: 1rem 0.5rem 0 0.5rem;
	}
}
