@import "./custom.bootstrap.scss";
@import "../styles/zoom-image.scss";

:root {
	--navbar-height: 60px;
	--red: #ff4d4d;
	--orange: #ffb600;
	--green: #00FF9D;
	--yellow: #FFE700;
	--pink: #FFE9E2;
	--dark-pink: #DABAB2;
	--darker-pink: #CA9488;
	--dark-green: #757761;
	--lapis-lazuli: #3C6997;
	--bg: var(--pink);
	--accent: var(--red);
	--accent2: var(--lapis-lazuli);
}

html {
	scroll-padding-top: 56px; /* height of sticky header */
}

body {
	font-family: "Sora", sans-serif;
	font-size: 16px;
	background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	letter-spacing: -0.25px;
	display: block;
	line-height: normal;
}

h1 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	letter-spacing: -0.75px;
}
h3 {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

h6 {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin-bottom: 0rem;
	font-size: 1.05rem;
}

.text-gradient {
	background: var(--text-gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a {
	color: var(--accent);
	// text-decoration: none;
	// font-size: 1.15rem;
	// line-height: var(--bs-body-line-height);
	// font-weight: 400;
	// letter-spacing: -0.25px;
	// bottom: -0.05rem;
	// position: relative;
	&:hover {
		color: var(--accent2);
	}
	// .reset-link {
	// 	background: none;
	// 	-webkit-background-clip: initial;
	// 	-webkit-text-fill-color: initial;
	// }
}

p {
	margin-bottom: 1rem;
}

ul,
ol {
	margin-bottom: 1rem;
}

.small {
	font-size: 0.75em;
}

.stickyTitleSection {
	&:not(:last-child) {
		border-bottom: 1px solid var(--bs-gray-200);
		margin-bottom: 2rem;
	}
	h3 {
		background-color: rgba(255, 255, 255, 0.8);
		backdrop-filter: blur(4px);
		display: block;
		top: calc(46px + 0rem);
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-bottom: 0;
		margin-top: 0;
	}
}

.logos {
	position: relative;
	overflow: hidden;
	.logo {
		width: 270px;
		height: 50px;
		display: block;
		position: relative;
	}
}

@media screen and (min-width: 1024px) {
	.stickyTitleSection {
		h3 {
			top: calc(var(--navbar-height) - 3px);
		}
	}
}

@media screen and (min-width: 768px) {
	h1 {
		&.page-title {
			font-size: 3rem;
		}
	}
}
